services:
  mongo:
    image: mongo:6
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
    shm_size: '1gb'
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/berry-challenge
      - PORT=3000
    depends_on:
      mongo:
        condition: service_healthy

volumes:
  mongo_data:
